# FIT TO YOU MACHINE
UPLOAD_FOLDER = '/home/jakob/Documents/GitHub/gaylian/cloud/files/'
NOTES_FOLDER = '/home/jakob/Documents/GitHub/gaylian/notes/'
MD_FOLDER = '/home/jakob/Documents/GitHub/gaylian/markdowns/'
ADMIN_PW = "GdSk1cktawyo"

# set config

app.config['UPLOAD_FOLDER'] = UPLOAD_FOLDER
app.config['NOTES_FOLDER'] = NOTES_FOLDER
app.config['MD_FOLDER'] = MD_FOLDER
app.config['ADMIN_PW'] = ADMIN_PW
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///gaylian.db'