body{
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #F4F9F9;
}
body::-webkit-scrollbar {
	width: 1rem;
}
body::-webkit-scrollbar-thumb {
	background: #AAAAAA;
}
body::-webkit-scrollbar-track {
	background: #f4f9f9c5;
}
nav {
    opacity: 95%;
    box-shadow: 0px 3px 30px 1px rgb(163, 163, 163);
}
nav:hover {
    opacity: 100%;
}