body{
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #F4F9F9;
    animation: body-start 0.75s ease 0s 1 normal forwards;
}
@keyframes body-start {
	0% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}
body::-webkit-scrollbar {
	width: 1rem;
}
body::-webkit-scrollbar-thumb {
	background: #AAAAAA;
}
body::-webkit-scrollbar-track {
	background: #f4f9f9c5;
}
/*Navbar kram*/
nav {
    opacity: 95%;
	box-shadow: 0px 0px 3px 2px #a3a3a3;
}
.navbar-expand-lg {
	text-align: center;
}
nav:hover {
    opacity: 100%;
}
.nav-shadow {
    text-shadow: 2px 2px 4px #acacac;
}
.nav_all {
	background-color: #e3f2fd;
	box-shadow: 0px 3px 25px 1px #a3a3a3;
}
.nav-cloud {
    opacity: 0;
    animation: nav-start 1s ease 0.1s 1 normal forwards;
}
.nav-notes {
    opacity: 0;
    animation: nav-start 1s ease 0.21s 1 normal forwards;
}
.nav-school {
    opacity: 0;
    animation: nav-start 1s ease 0.33s 1 normal forwards;
}
.nav-mail {
    opacity: 0;
    animation: nav-start 1s ease 0.42s 1 normal forwards;
}
.nav-coming {
    opacity: 0;
    animation: nav-start 1s ease 0.5s 1 normal forwards;
}
@keyframes nav-start {
	0% {
        opacity: 0;
		transform: scale(0.7);
	}

	100% {
        opacity: 1;
		transform: scale(1);
	}
}
nav .container-fluid div ul {
    font-size: larger;
}
nav .container-fluid div ul li {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.btn_nav {
	--bs-btn-color: #002a3d;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #030303;	
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #8d8d8d;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-padding-y: 0.3rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-font-size: 1.2rem;
    --bs-btn-border-radius: 0.5rem;
}
.btn_nav2 {
	--bs-btn-color: #002a3d;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #030303;	
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #8d8d8d;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-padding-y: 0.3rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-font-size: 1.2rem;
    --bs-btn-border-radius: 0.5rem;
}
.navbar-toggler {
	background-color: #dceffdf3;
	box-shadow: 2px 2px 5px 1px #a3a3a3;
}
.navbar-toggler_index {
	padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: #dceffdf3;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
	margin: 4px;
	box-shadow: 2px 2px 5px 1px #a3a3a3;
}
.navbar-toggler:hover {
	background-color: #e6f3fc;
}
.navbar-toggler_index:hover {
	background-color: #e6f3fc;
}
.collapse_content {
	background-color: #d6ebfa;
}
.div_nav_cola {
	padding-bottom: 20px;
}
.btn-outline-dark {
	--bs-btn-color: #161616;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
}
/*Footer Kram*/
.footer-scroll_down {
	box-shadow: 4px -3px 8px 1px #a3a3a3;
    margin-top: 10px;
    background-color: #d6ebfa;
	position: relative;
	bottom: 0;
    width: 100%;
}
.footer-only_down {
	box-shadow: 4px -3px 8px 1px #a3a3a3;
    margin-top: 10px;
    background-color: #d6ebfa;
	position: fixed;
	bottom: 0;
    width: 100%;
}
.btn_footer {
	--bs-btn-color: #002a3d;
    --bs-btn-bg: #e3f2fd;
    --bs-btn-border-color: #e3f2fd;
    --bs-btn-hover-color: #030303;	
    --bs-btn-hover-bg: #e3f2fd;
    --bs-btn-hover-border-color: #8d8d8d;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-padding-y: 0.2rem;
    --bs-btn-padding-x: 0.3rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-border-radius: 0.4rem;
	margin: 5px;
}
.text_footer {
	font-size: 95%;
}
/*Schriftkram*/
.überschrift {
    padding-left: 5px;
}
.wohooo {
    padding-top: 35px;
    padding-left: 30px;
}
.listee {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.liste {
    padding-bottom: 5px;
}
.cancel_delete {
    padding-left: 10px;
    padding-top: 7px;
}
.main_cookies {
    margin: 5px;
}
.tab-pane {
    padding-top: 5px;
}
.colored_text {
    color: rgb(185, 41, 41);
}
/*Alg Schriftkram*/
.margin-auto {
	margin: auto;
}
hr {
	margin: 10px;
}
.h1_low {
    padding-top: 15px;
}
/*Buttons*/
.btn-outline-warning_delete {
    --bs-btn-color: #f70000;
    --bs-btn-border-color: #ff6207;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ff6207;
    --bs-btn-hover-border-color: #ff6207;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ff6207;
    --bs-btn-active-border-color: #ff6207;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ff6207;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}
.btn-lg_delete {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 0.5rem;
}
.dwl-button {
    position: relative;
    margin-bottom: -20px;
    padding-top: 20px;
}
.btn-files_delete {
    --bs-btn-color: #ee2222;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #dfd9d9;
    --bs-btn-hover-color: rgb(255, 0, 0);
    --bs-btn-hover-bg: #ececec;
    --bs-btn-hover-border-color: #b8b9bb;
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-border-radius: 0.4rem;
}
.files_btn {
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: rgb(39, 131, 119);
    outline: #198754 5px;
}
.files_btn:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.btn-dwl_delete {
    --bs-btn-color: #1d9437;
    --bs-btn-bg: #83e08b;
    --bs-btn-border-color: #1d9437;
    --bs-btn-hover-color: #f5f5f5;
    --bs-btn-hover-bg: #2eb84c;
    --bs-btn-hover-border-color: #1d9437;
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-padding-x: 0.3rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-border-radius: 0.35rem;
}
.padding_delete {
    margin: auto;
}
.nav-link {
    color: #055377;
}
.nav-link:hover {
    color: #0060a5;
}
.nav-link.active {
    color: #000;
    text-decoration: underline #0d5f99;
}
/*Tabellen*/
table {
    width: 100%;
}
td {
    vertical-align: middle;
    height: 20px;
}
/*Toasts/Fehlermeldungen/Forms*/
.reset_button {
    align-content: flex-end;
}
.toast-container {
    margin: 10px;
}
.toast-header {
    background-color: #d9f3ee;
}
.toast-anzeige-1 {
    position: fixed;
    opacity: 0;
    animation: toast-1 01.3s ease 0.2s 1 normal forwards;
    background-color: #ebfffa;
    margin-bottom: 10px;
}
@keyframes toast-1 {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}
	100% {
		opacity: 1;
        transform: translateX(-10px);
	}
}
.toast-button-1 {
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: -14px;
}
.toast-anzeige-2 {
    position: fixed;
    opacity: 0;
    animation: toast-2 01.3s ease 0.2s 1 normal forwards;
    background-color: #ebfffa;
    margin-right: 10px;
}
@keyframes toast-2 {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}
	100% {
		opacity: 1;
        transform: translateY(-10px);
	}
}
.dwl-symbol {
    text-align: left;
    padding-bottom: 10px;
    padding-right: 5px;
}
.form-control-sm {
    padding: .375rem 0.75rem;
    font-size: .750rem;
}