body {
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #F4F9F9;
    animation: body-start 0.75s ease 0s 1 normal forwards;
}
@keyframes body-start {
	0% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}
body::-webkit-scrollbar {
	width: 1rem;
}
body::-webkit-scrollbar-thumb {
	background: #AAAAAA;
}
body::-webkit-scrollbar-track {
	background: #f4f9f9c5;
}

nav {
    opacity: 95%;
    box-shadow: 0px 3px 30px 1px rgb(163, 163, 163);
}
nav:hover {
    opacity: 100%;
}
.navbar-expand-lg {
    text-align: center;
}   
.nav-shadow {
    text-shadow: 2px 2px 4px rgb(172, 172, 172);
}
.nav-cloud {
    opacity: 0;
    animation: nav-start 1.3s ease 0.05s 1 normal forwards;
}
.nav-notes {
    opacity: 0;
    animation: nav-start 1.3s ease 0.1s 1 normal forwards;
}
.nav-school {
    opacity: 0;
    animation: nav-start 1.3s ease 0.15s 1 normal forwards;
}
.nav-mail {
    opacity: 0;
    animation: nav-start 1.3s ease 0.2s 1 normal forwards;
}
.nav-coming {
    opacity: 0;
    animation: nav-start 1.3s ease 0.2s 1 normal forwards;
}
@keyframes nav-start {
	0% {
        opacity: 0;
		transform: scale(0.5);
	}

	100% {
        opacity: 1;
		transform: scale(1);
	}
}
.basiertheit {
    width: 300px;
    border: 2px solid gray;
    padding: 50px;
    margin: 20px;
    font-size: 150%;
    text-align: center;
    
}
.based1 {
    padding-top: 240px;
    opacity: 0;
    animation: spacing_tschad 1.5s ease 1s 1 normal forwards;
}
@keyframes spacing_tschad {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.based2 {
    padding-top: 100px;
    opacity: 0;
    animation: spacing_pic 3s ease 1.5s 1 normal forwards;
}
@keyframes spacing_pic {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.info {
    text-align: center;
}
.list {

    padding-top: 5px;
}
.text_target {
    text-align: center;
}
.color_ {
    background-color: aliceblue;
    border: 2px solid darkgray;
}
footer {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e3f2fd;
}
/*
übergänge zu den Webseiten
box in die Navbar - also die textdinge reinmachen
scrollspy
footer+inhalt index
*/