<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gaylian: Serverfehler</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="{{ url_for('static', filename='img/gaylian_50_red.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                <img src="../static/img/gaylian_50_red.png" id="500Logo" alt="Logo" width="40" height="40">
                </a>
                <a class="navbar-brand fs-3 nav-shadow" href="/" style="padding-bottom: 10px;">gaylian.net</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-text">
                    <i>basiert Servicen. basierter Service. gaylian Service.</i>
                </span>
                </div>
            </div>
        </nav>
        <div id="main">
            <b class="opps fs-1">Oops!</b><hr>
            <h2>Es gab ein Problem mit dem Server. <br> Bitte kontaktieren sie das Gaylian-Supportteam unter <a href="mailto:gaylian@protonmail.com">gaylian@protonmail.com</a>.</h2>
            <h4>Oder direkt über die gaylian Mail: <a href="https://gayliannet/mail/error">gaylian@protonmail.com</a>.</h4><hr>
            <button type="button" class="btn btn-404"><a href="/">Zurück zu gaylian.net</a></button><hr>
            <button class="btn btn-404" onclick="javascript:window.history.back();">Zurück zur letzten Seite</button>
        </div>
        <script>
            document.getElementById("500Logo").src="{{ url_for('static', filename='img/gaylian_50_red.png') }}";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>