<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gaylian: Cloud</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='css/defaultstyle.css') }}">

        <script>
            function searchDoc() {
                var target = document.getElementById('searchDocWithCode');
                var searchCode = target.value;
                window.location.href  = "cloud/"+searchCode;
            }
        </script>
        <script src="../static/js/nav-basiert.js"></script>
    </head>
    <body>
        <div class="container px-4" style="padding-top: 15px;">
            <div class="row gx-5 überschrift">
                <h1>Gaylian: Cloud - Clouddatei suchen</h1>
                <div class="col based1">
                    <div class="shadow rounded p-3 border bg-body fw-normal">Du suchst eine Datei aus der gaylian-cloud? Dann suche einfach mit dem <i>cloud-code</i> danach!</div>
                    <form class="d-flex shadow rounded p-3 border bg-body fw-semibold" role="search">
                        <input class="form-control me-2" type="text" name="code" id="searchDocWithCode" placeholder="Code der Datei">
                        <input type="button" class="btn btn-outline-success" name="search" value="Suchen" onclick="searchDoc()">
                    </form>
                </div>
            </div>
            <div class="row gx-5 überschrift">
              <div style="text-align: center; margin-top: 20px;">
                <form method="post" action="http://gaylian.net/cloud/new">
                  <input type="submit" class="btn btn-outline-success" value="Eine Datei hochladen"></input>
                </form>
                <i>Die Cloud steht ihnen offen.</i>
              </div>
            </div>
       </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>