<html>
    <head>
        <title>Gaylian: Cookies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='css/defaultstyle.css') }}">
        
        <link rel="stylesheet" type="text/css" href="../static/css/defaultstyle.css">
        <script src="../static/js/nav-basiert.js"></script>
    </head>
    <body>
        <h1>Cookies anzeigen</h1>
            Die von einer Website gesetzten Cookies lassen sich einfach in jedem Browser anzeigen.
            Folgen Sie dazu diesen Schritten:
            <ol>
                <li>Öffnen der "Dev-Tools" (z. B. mit der Taste F12)</li>
                <li>Navigieren zum "Application"- (Chrome) oder "Web-Speicher"-Reiter (Firefox)</li>
                <li>Suchen des Menüpunktes "Storage" (nur Chrome)</li>
                <li>Ausklappen des Punktes "Cookies"</li>
                <li>Auswählen der Seite</li>
            </ol>
            Auf der rechten Seite sehen Sie nun die von gaylian.net gesetzten Cookies. Zu einer genaueren Erklärung der Funktion dieser Speicherelemente können Sie unsere <a href="./cookies.html">ausführlichen Informationen</a> zu diesem Thema lesen.
            <br>
            Wir schlagen vor, dass Sie die Zahl der Cookies unserer Seite mit denen auf anderen von Ihnen besuchten Seiten vergleichen. Auch diese sollten unter Beachtung der obigen Anleitung abrufbar sein.
        <h1>Cookies anzeigen</h1>
        Die von einer Website gesetzten Cookies lassen sich einfach in jedem Browser anzeigen.
        Folgen Sie dazu diesen Schritten:
        <ol>
            <li>Öffnen der "Dev-Tools" (z. B. mit der Taste F12)</li>
            <li>Navigieren zum "Application"- (Chrome) oder "Web-Speicher"-Reiter (Firefox)</li>
            <li>Suchen des Menüpunktes "Storage" (nur Chrome)</li>
            <li>Ausklappen des Punktes "Cookies"</li>
            <li>Auswählen der Seite</li>
        </ol>
        Auf der rechten Seite sehen Sie nun die von gaylian.net gesetzten Cookies. Zu einer genaueren Erklärung der Funktion dieser Speicherelemente können Sie unsere <a href="../cookies">ausführlichen Informationen</a> zu diesem Thema lesen.
        <br>
        Wir schlagen vor, dass Sie die Zahl der Cookies unserer Seite mit denen aufanderen von Ihnen besuchten Seiten vergleichen. Auch diese sollten unter Beachtung der obigen Anleitung abrufbar sein.
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>