<html>
    <h1>Cookies anzeigen</h1>
    Die von einer Website gesetzten Cookies lassen sich einfach in jedem Browser anzeigen.
    Folgen Sie dazu diesen Schritten:
    <ol>
        <li>Öffnen der "Dev-Tools" (z. B. mit der Taste F12)</li>
        <li>Navigieren zum "Application"- (Chrome) oder "Web-Speicher"-Reiter (Firefox)</li>
        <li>Suchen des Menüpunktes "Storage" (nur Chrome)</li>
        <li>Ausklappen des Punktes "Cookies"</li>
        <li>Auswählen der Seite</li>
    </ol>
    Auf der rechten Seite sehen Sie nun die von gaylian.net gesetzten Cookies. Zu einer genaueren Erklärung der Funktion dieser Speicherelemente können Sie unsere <a href="../cookies">ausführlichen Informationen</a> zu diesem Thema lesen.
    <br>
    Wir schlagen vor, dass Sie die Zahl der Cookies unserer Seite mit denen auf anderen von Ihnen besuchten Seiten vergleichen. Auch diese sollten unter Beachtung der obigen Anleitung abrufbar sein.
</html>