<html>
    <head>
        <title>Gaylian: Cookies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='css/defaultstyle.css') }}">
        
        <link rel="stylesheet" type="text/css" href="../static/css/defaultstyle.css">
        <script src="../static/js/nav-basiert.js"></script>
    </head>
    <body>
        <h1>Cookies</h1>
        <h2>TL;DR</h2>
        Alle auf gaylian.net benutzten Cookies dienen der Funktonalität und keinem Tracking. Der Nutzen der Cookies wird in dem Text unten beschrieben. Dass tatsächlich nur diese Cookies gesetzt werden, können Sie überprüfen, indem Sie unseren <a href="https://github.com/Jiscona-private/gaylian/">Quellcode</a> lesen und bzw. oder die von uns gesetzten <a href="../show-cookies">Cookies</a> anzeigen.

        <h2>Ausführliche Information</h2>
        <i>Dieser Text dient ausschließlich der Information unserer Nutzer. Trotz großer Sorgfalt erhebt er keinen Anspruch auf Richtigkeit, Vollständigkeit o. ä. Die Information ist nicht rechtskräftig und ihre Richtigkeit nicht garantiert.</i>
        <br>
        <br>
        Wir tracken Sie nicht. Das können Sie am <a href="https://github.com/Jiscona-private/gaylian/">Quellcode</a> und an den von uns gesetzten <a href="../show-cookies">Cookies</a> überprüfen. 
        Momentan werden drei Cookies gesetzt:
        <ul>
            <li><code>user</code> ID des Nutzers (Dieser Cookie wird nur gesetzt, wenn Sie sich angemeldet haben.)</li>
            <li><code>username</code> Name des Nutzers (Dieser Cookie wird nur gesetzt, wenn Sie sich angemeldet haben.)</li>
            <li><code>session</code> In einer Session gespeicherte ID und Name des Nutzers (Dieser Cookie wird nur gesetzt, wenn Sie sich angemeldet haben.)</li>
        </ul>
        Diese Liste wird mit zunehmden Wachstum und Funktionsumfang unseres Services noch erweitert werden, doch wir versprechen Ihnen, dass alle Cookies, die von gaylian.net gesetzt werden ausschließlich der Funktionalität der Website dienen.
        Wir empfehlen Ihnen, diese Liste regelmäßig zu überprüfen, um Änderung schnell feststellen zu können. Falls Sie die benötigten Ressourcen besitzen, freuen wir uns, wenn Sie den <a href="https://github.com/Jiscona-private/gaylian/">Quellcode</a> lesen und uns - falls sie existieren - darauf hinweisen, dass Cookies gesetzt werden, welche nicht in der Liste enthalten sind. <br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
fresh wie auf der Index mit so abschnitten und paralax + Bildern machen
im impressum oder so auf https://javascript.jstruebig.de/skripte/74/ verlinken