<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gaylian: Schule</title>
    </head>
    <body>
        <form name="userInfo" method="post">            
            <input type="text" name="uname" id="uname" placeholder="Nutzername">
            <input type="password" name="password" id="password" placeholder="Nutzer-Passwort">            
            <input type="number" name="storage" id="storage" placeholder="Verfügbarer Speicher in MB">
            <br>
            <input type="text" name="adminName" id="adminName" placeholder="Admin-Name">
            <input type="password" name="adminPassword" id="adminPassword" placeholder="Admin-Passwort">
            <input type="submit">
        </form>
    </body>
</html>