<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gaylian.net endet hier.</title>
</head>
<body>
    <h1>Das Ende von gaylian.net</a></h1>
    Aufgrund des mangelnden Interesses an einer unabhängigen, sicheren und spionagefreien Plattform muss gaylian.net leider geschlossen werden.<br>
    Der Mensch scheint zu bequem zu sein, als dass er seine Freiheit verteidigen und seine Daten beschützen würde. <br>
    Das Zeigen dieser Plattform scheint zwar keine besondere Bedeutung zu haben; und doch illustriert es das momentane Denken vieler Internet-Nutzer und zeigt damit auch die Zukunft des World Wide Web. <br>
    Wenn etwas kostenlos ist, ist der Nutzer das Produkt. Aber indem man diese Tatsache ausblendet - indem man Datenklau und Abhängigkeiten, Manipulation und Unterdrückung ignoriert, kann man "kostenlos" ein unbeschwertes Leben führen. <br>
    Doch natürlich ist nichts gratis; es lässt sich nur nicht jeder Preis in Geld ausdrücken. <br>
    <b>Plattformen, die diese versteckte Unterjochung verhindern wollen - wie gaylian.net es versucht hat - sind wegen der Ignoranz und den Scheuklappen der Menschen zum Scheitern verurteilt.</b> <br>
    Trotz hoher Sicherheit, reibungsloser Funktionsfähigkeit und ansprechendem Design werden sich bezahlte Plattformen bei der momentanen Mentalität nicht durchsetzen. <br>
    Wie viele Seiten hat das in die Abhängigkeit geführt? Wie viele Seiten wurden zu Werbung, zum Kampf gegen die Privatssphäre gezwungen, weil sie sich sonst nicht halten konnten? <br>
    Die Einstellung der Menschen, ihre Fähigkeit, den Blick zu vernebeln und ihr Unwissen töten die Freiheit und Unabhängigkeit, die das World Wide Web zu seiner Geburtsstunde versprach. <br>
</body>
</html>