<html>
    <head>
        <title>Gaylian: Cloud - Download</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <link rel="stylesheet" href="../static/css/defaultstyle.css">
        <script src="../static/js/nav-index.js"></script>
        <style>
            .btn_sucess {
                background-color: #198754;
            }
            .dwl-text {
                color: black;
                text-decoration: solid 0.7px;
            }
        </style>
    </head>
    <body>
        <div class="container px-4" style="padding-top: 15px;">
            <div class="row">
              <h1>Gaylian: Cloud - Dateidownload</h1>
              <div class="col offer">
                <div class="shadow rounded p-3 border bg-body fw-semibold">
                    <table class="table table-hover table-sm" style="table-layout: fixed;">
                      <thead>
                        <tr>
                            <th style="width: 50%;">Name der Datei</th>
                            <th style="width: 30%;">Dateigröße</th>
                            <th style="width: 20%;">Herunterladen</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        {% for i in range(filenames|length) %}
                        <tr>
                          <td>{{ filenames[i] }}</td>
                          <td>{{ fileSizes[i] }} Byte</td>
                          <td>
                            <form class="padding_delete" method="post">
                              <input class="btn btn-dwl_delete" name="download" type="submit" value="Herunterladen">
                              <input type="hidden" name="fileId" value="{{fileIds[i]}}">
                            </form>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
                <hr>
                <div class="shadow rounded p-3 border bg-body fw-semibold">
                    <form method="post">
                    <div class="d-grid col-4 mx-auto">
                        <button class="btn btn-success dwl-button" type="submit" name="downloadAll">
                            <img class="dwl-symbol" src="../static/img/gaylian-download_webs.png" alt="download" width="15%">
                            <b class="fs-4 dwl-text" name="downloadAll">Alle herunterladen</b>
                        </button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
        <input type="text" id="error" value="{{ error }}" hidden>
        <script src="../static/js/toast-error-std.js"></script>
        <script src="../static/js/footer-only_down.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>