<!DOCTYPE html>
<html>
    <head>
        <title>Warum gaylian?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/defaultstyle.css">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <script src="../static/js/nav-index.js"></script>
    </head>
    <body>
       Das ist unser nicht vorhandenes Impressum :)
       Link für Tabellensortierung:
       https://javascript.jstruebig.de/skripte/74/
       <script src="../static/js/footer-std.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>