<!DOCTYPE html>
<html>
    <head>
        <title>gaylian.net</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <link rel="stylesheet" href="../static/css/index-style.css">
        <script src="../static/js/nav-index.js"></script>
    </head>
    <body>
      <div class="container-lg text-center">
        <div class="row justify-content-start align-items-center">
          <div class="col-12 start_1" style="padding-top: 15px;">
            <div>
              <div class="style_1">
                <h1>gaylian.net</h1>
              </div>
            </div>
          </div>
          <div class="col-12 start_2">
            <img src="../static/img/gaylian_512.png" class="img-fluid" style="padding-top: 20px;">
          </div>
          <div class="col-12 start_3">
            <h1>
              <script>
                var slogans = ['Basiert!', 'Gaylian vor!', 'Der Tschad unter den Webseiten.', 'Tracking? Doch nicht hier.', 'basiert. basierter. gaylian.', 'Basiert auf Tschadigkeit', 'Grindsettung: 3000'];
                var index = Math.floor(Math.random() * slogans.length);
                document.write(slogans[index]);
              </script>
            </h1>
          </div>
        </div>
      </div>
      <hr>
      <div class="before_1">
        <h1>Alles auf Abruf.</h2>
        <h4>gaylian.net stellt alle Services, die man tagtäglich braucht, bereit. Nutzen Sie unsere Angebote wann Sie wollen, wo Sie wollen, wie Sie wollen.</h4>
      </div>
      <hr>
      <div>
        <div class="row align-items-center main_index-1">
          <div class="col main_heading">
            Tracking? Nein Danke.
          </div>
          <div class="col main_text">
            Wir sagen Spionagemitteln auf Wiedersehen. gaylian.net verwendet keine Tracker, nutzt nur unbedingt nötige Cookies und ist vollkommen <a href="https://www.github.com/Jiscona-private/gaylian">open-source</a>.
          </div>
        </div>
        <div class="row align-items-center main_index-2">
          <div class="col main_text">
            Um einen schnellen und einfachen Zugriff auf die gaylian-Angebote zu ermöglichen, können Nutzer die Token-Authentifizierung nutzen.
            Statt aufwendiger Anmeldungsprozesse kann die Identitätsbestätigung unkompliziert und schnell erfolgen.
          </div>
          <div class="col main_heading">
            Authenthifizierung: einfach wie nie.
          </div>
        </div>
        <div class="row align-items-center main_index-3">
          <div class="col main_heading">
            Privatsphäre garantiert.
          </div>
          <div class="col main_text">
            Alle auf gaylian.net hochgeladenen Dokumente und Dateien lassen sich mit einem Passwort vor unbefugtem Zugriff schützen.
          </div>
        </div>
        <div class="row align-items-center main_index-4">
          <div class="col main_text">
            Immer mehr kontrollieren Google, Apple und Co. unsere Daten, unser Leben und unsere Gesellschaft. Nur noch wenige verbringen einen Tag, ohne einen Service dieser Unternehmen zu nutzen. 
            Doch diese Firmen sind genau das: gewinnorientierte Unternehmen. Diese Plattform - ein Open-Source-Projekt mit Augenmerk auf Privatsphäre, Datenschutz und Nutzerfreundlichkeit - 
            soll dabei helfen, die Stellung und Macht dieser Konzerne zu brechen und das Internet wieder in die Hände der Menschen zu geben. Mehr zu unserem Ziel finden Sie <a href="https://gaylian.net/mission">hier</a>.
          </div>
          <div class="col main_heading">
            Für ein besseres Internet.
          </div>
        </div>
      </div>
      <script src="../static/js/footer-scroll_down.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>