<!DOCTYPE html>
<html>
    <head>
        <title>gaylian.net</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/index-style.css">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <script src="../static/js/nav-index.js"></script>
    </head>
    <body>
      <div class="container px-4">
        <div class="row gx-5">
          <div class="col based1">
            <div class="basiertheit shadow rounded p-3 border bg-body fw-semibold">gaylian.net <br> der Tschad <br> unter <br> den <br> Webseiten.</div>
          </div>
          <div class="col based2">
            <div class="shadow rounded p-3 border bg-body">
              <img src="../static/img/gaylian_512.png" style="padding: 40px;">
            </div>
          </div>
        </div>
      </div>
      <h1>Alles auf Abruf.</h1>
gaylian stellt alle Services, die man tagtäglich braucht, bereit. Nutzen Sie unsere Angebote wann Sie wollen, wo Sie wollen, wie Sie wollen.
 Tracking? Nein Danke.
Wir sagen Spionagemitteln auf Wiedersehen. gaylian.net verwendet keine Tracker, nutzt nur unbedingt nötige Cookies und ist vollkommen [open-source](https://www.github.com/Jiscona-private/gaylian).
 Authenthifizierung: einfach wie nie.
Um einen schnellen und einfachen Zugriff auf die gaylian-Angebote zu ermöglichen, können Nutzer die Token-Authentifizierung nutzen. Statt aufwendiger Anmeldungsprozesse kann die Identitätsbestätigung unkompliziert und schnell erfolgen.
 Privatsphäre garantiert.
Alle auf gaylian.net hochgeladenen Dokumente und Dateien lassen sich mit einem Passwort vor unbefugtem Zugriff schützen.
 Für ein besseres Internet
Immer mehr kontrollieren Google, Apple und Co. unsere Daten, unser Leben und unsere Gesellschaft. Nur noch wenige verbringen einen Tag, ohne einen Service dieser Unternehmen zu nutzen. Doch diese Firmen sind genau das: gewinnorientierte Unternehmen. Diese Plattform - ein Open-Source-Projekt mit Augenmerk auf Privatsphäre, Datenschutz und Nutzerfreundlichkeit - soll dabei helfen, die Stellung und Macht dieser Konzerne zu brechen und das Internet wieder in die Hände der Menschen zu geben. Mehr zu diesem Ziel finden Sie hier. (link)
      <footer class="fw-lighter">
        © Copyright 2022 by Bonarium Holdings. All Rights Reserved. <br>
        gaylian.net is powered by Bonarium Holdings.
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>