<html>
    <head>
        <title>Gaylian: Cloud - Download</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="{{ url_for('static', filename='img/gaylian_50.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/defaultstyle.css') }}">
        <script src="{{ url_for('static', filename='js/nav-index.js') }}"></script>
        <script>
          document.getElementById("navLogo").src="{{ url_for('static', filename='img/gaylian_50.png') }}";
        </script>
    </head>
        <body>
            <div class="container px-4" style="padding-top: 15px;">
                <div class="row gx-5">
                    <h1>Gaylian: Anmeldung</h1>
                  <div class="col based2">
                    <div class="shadow rounded p-3 border bg-body fw-semibold">Loggen sie sich bitte mit ihrem Nutzernamen und dazugehörigen Passwort ein.</div>
                      <div class="shadow rounded p-3 border bg-body">
                        <form action="/user/login" method="post">
                            <input class="padding form-control me-2" type="text" name="uname" placeholder="Nutzername">
                            <hr>
                            <div class="input-group mb-3">
                              <input class="form-control" type="password" id="password" name="password" placeholder="Passwort">
                              <div class="input-group-text">
                                <input class="form-check-input mt-0 checkbox-color" type="checkbox" value="Aktivieren" onclick="pwToggle()">
                              </div>
                            </div>
                            <hr>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="staySignedIn" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Angemeldet bleiben (hierfür wird ein <a href="../cookies">Cookie</a> gesetzt.)</label>
                            </div>
                            <hr>
                            <input type="submit" class="padding btn btn-outline-success">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        <input type="text" id="error" value="{{ error }}" hidden>
        <script src="{{ url_for('static', filename='js/toast-error-std.js') }}"></script>
        <script>
          document.getElementById("toastLogo").src="{{ url_for('static', filename='img/gaylian_50_red.png') }}";
        </script>
        <script src="{{ url_for('static', filename='js/footer-only_down.js') }}"></script>
        <script>
          document.getElementById("footerLogo").src="{{ url_for('static', filename='img/gaylian_50.png') }}";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>