<html>
    <head>
        <title>Gaylian: Cloud - Download</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='css/defaultstyle.css') }}">
        <link rel="stylesheet" type="text/css" href="..//static/css/defaultstyle.css">
        <script src="../static/js/nav-basiert.js"></script>
    </head>
        <body>
        {% if error %}
            {{ error }}
        {% endif %}
        <form action="/user/login" method="post">
            <input type="text" name="uname" placeholder="Nutzername">
            <input type="password" name="password" placeholder="Passwort">
            <input type="checkbox" name="staySignedIn"> Angemeldet bleiben (hierfür wird ein <a href="../cookies">Cookie</a> gesetzt.)
            <input type="submit">
        </form>
    </body>
</html>

in die seite integrieren?
offcanvas beim Chat? einblenden