<html>
    <body>
        Achtung: <br>
        Für eine neue Zeile müssen hinter die vorherige zwei Leerzeichen gesetzt werden, weil so garantiert wird, dass der Zeilenumbruch beabsichtigt ist. <br>
        Vor einer Liste muss eine Leerzeile stehen. <br>
        <br>
        <table border="10px">
            <tr>
                <td>Überschrift</td>
                <td># H1 <br>
                    ## H2 <br>
                    ### H3 <br>
                </td>
            </tr>
            <tr>
                <td>Fett</td>
                <td>**Fetter Text**</td>
            </tr>
            <tr>
                <td>Kursiv</td>
                <td>*kursiver Text*</td>
            </tr>
            <tr>
                <td>Geordnete Liste</td>
                <td>1. Erstes Element <br>
                    2. Zweites Element <br>
                    3. Drittes Element <br>
                </td>
            </tr>
            <tr>
                <td>Ungeordnete Liste</td>
                <td>
                    - Erstes Element <br>
                    - Zweites Element <br>
                    - Drittes Element <br>
                </td>
            </tr>
            <tr>
                <td>Code</td>
                <td>`Code` 
                    <br>
                    <i>oder</i>
                    <br>
                    ``` <br>
                    Code <br>
                    über <br>
                    mehrer <br>
                    Zeilen <br>
                    ```
                </td>
            </tr>
            <tr>
                <td>Horizontale Linie</td>
                <td>---</td>
            </tr>
            <tr>
                <td>Link</td>
                <td>[Titel](https://www.example.com)</td>
            </tr>
            <tr>
                <td>Bild</td>
                <td>![Alternativer Text](http://gaylian.net/cloud/beispiel-bild)</td>
            </tr>
        </table>
    </body>
</html>