<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gaylian: Schule</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <link rel="stylesheet" type="text/css" href="..{{ url_for('static', filename='css/defaultstyle.css') }}">
        <script src="../static/js/nav-basiert.js"></script>
    </head>
    <body>
        <div class="container px-4" style="padding-top: 15px;">
            <div class="row gx-5">
                <h1>Gaylian: School - Markdown suchen</h1>
              <div class="col based1">
                <div class="shadow rounded p-3 border bg-body fw-normal">Du suchst ein Markdown-Dokument? Dann suche einfach mit dem School-Code danach!</div>
                <form class="d-flex shadow rounded p-3 border bg-body fw-semibold" role="search" method="post" action="/school">
                    <input class="form-control me-2" type="text" name="code" id="searchDocWithCode" placeholder="Datei suchen">
                    <input type="submit" class="btn btn-outline-success" name="search" value="Search">
                </form>
              </div>
            </div>
          </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>