<!DOCTYPE html>
<html>
    <head>
        <title>Gaylian: Mission</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/defaultstyle.css">
        <link rel="icon" href="../static/img/gaylian_50.png">
        <script src="../static/js/nav-index.js"></script>
    </head>
    <body>
        Unsere Vision
        <i>Wie gaylian.net für ein gesünderes Internet kämpft</i>
        <H1>Das Netz der Gegenwart</H1> 
        Mehr und mehr kontrollieren Internetkonzerne wie Google, Apple, Amazon und Co. unsere Daten, unser Leben und unsere Gesellschaft. Doch die Unternehmen stellen diese Services nicht aus gutem Willen bereit, sondern, um Geld zu verdienen. Und wer könnte es ihnen übel nehmen? Unsere Zeit, unsere Daten und unser Leben sind Millionen wert.
        Noch größer als das Problem des Datendiebstahls und der aufdringlichen Werbung ist jedoch die unvorstellbare Macht dieser Konzerne: wie lange könnten wir ohne Googles und Apples Handys normal leben? Wie ohne Microsoft arbeiten? Ohne Amazon einkaufen?
        
        Allein diese Beispiele zeigen den riesigen, unausweichlichen Einfluss, die diese Unternehmen haben. Doch ein Internet der Konzerne kann kein Internet der Nutzer sein. Kein System, in dem sich die Macht bei wenigen konzentriert, ist eines, das gut für die Menschen ist.
        
        Wie gefährlich diese Entwicklung sein kann, zeigt sich, wenn Unternehmen für uns entscheiden, was die Wahrheit ist und welche Inhalte als "Fake News" geblockt werden. Teilweise haben soziale Plattformen mehr Macht als ganze Regierungen.
        <h2>Und nun?</h2>
        Das große Problem ist die zentralisierte Struktur des Internets. Während es in den Anfängen des World Wide Web noch viele kleine, dezentralisierte Angebote gab, haben nur wenige den Überlebenskampf gewonnen und konnten so Millionen oder gar Milliarden von Nutzern von sich abhängig machen. Diese Entwicklung muss rückgängig gemacht werden.
        Nur dezentralisierte, freie und nutzerorientierte Angebote können das Internet wieder gesund machen. Die gaylian-Plattform steht in einer Reihe mit zahlreichen anderen Projekten, die das Internet wieder in die Hände der Menschen geben wollen.
        Wir bieten unseren Nutzern freie und sichere Software und helfen dabei, die Vormachtstellung von Google und Co. zu schwächen und schließlich zu beenden.
        <script src="../static/js/footer-std.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>